<div class="thumbnail">
    <img src="http://placehold.it/800x300">
    <div>
        <h4 class="pull-right">{{product?.price}} 元</h4>
        <h4>{{product?.title}}</h4>
        <p>{{product?.desc}}</p>
    </div>
    
    <div>
        <p class="pull-right">{{comments?.length}}</p>
        <p>
            <app-stars [rating]="product?.rating"></app-stars>
        </p>
    </div>
</div>

<div class="well">
    <button type="button" class="btn btn-success" (click)="isHidden = !isHidden">发表评论</button>
    <div [hidden]="isHidden">
        <app-stars [(rating)]="newRating" [readonly]="false"></app-stars>
        <textarea name="" id="" cols="80" rows="5" [(ngModel)]="newComment"></textarea>
        <br>
        <button type="button" class="btn btn-primary" (click)="addComment()">提交评论</button>
    </div>
    <!-- ngFor 循环不需要传到运算符?. 因其会自动判断循环的对象是否为空 -->
    <div class="row" *ngFor="let comment of comments">
        <hr>
        <div class="col-md-12">
            <app-stars [rating]="comment.rating"></app-stars>
            <span>{{comment.user}}</span>
            <span class="pull-right">{{comment.timestamp}}</span>
            <p>{{comment.content}}</p>
        </div>
    </div>
</div>
